body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0f0b;
    font-family: Arial, sans-serif;
}
h1{
    color: white;
}
.container{
    font-size: 48px;
    color: #eef1f1;
    background-color: #93a39d;
    padding: 20px;
    border-radius: 10px;
}