.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .text {
    font-size: 32px;
    box-shadow: 5px 5px 15px 4px rgba(85, 45, 45, 0.5);
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
  }
  .btn {
    border: none;
    cursor: pointer;
    background-color: rgb(255, 157, 0);
    color: white;
    padding: 10px 30px;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
  }